app-root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --accent: #22c55e;

  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

main {
  padding: 0;
  color: #333
}

/* Titres */
h1,
h2,
h3 {
  color: #333;
  font-weight: 600;
  margin: 0 0 1rem;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.6;
}